<h1 class="col-md-4 title-div my-3">Lista de cuotas</h1>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table">
        
        <ng-container matColumnDef="cuota">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor"> Num. cuota </th>
            <td mat-cell *matCellDef="let element" class="changeColor"> {{ element.NumCuota }} </td>
        </ng-container>

        <ng-container matColumnDef="poliza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor"> Num. de Poliza </th>
            <td mat-cell *matCellDef="let element" class="changeColor"> {{ element.NumeroPoliza }} </td>
        </ng-container>

        <ng-container matColumnDef="vigencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor"> Fecha de vencimiento </th>
            <td mat-cell *matCellDef="let element" class="changeColor"> {{ element.FechaVencimiento | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor"> Monto </th>
            <td mat-cell *matCellDef="let element" class="changeColor"> {{ element.Monto }} </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor"> Usuario </th>
            <td mat-cell *matCellDef="let element" class="changeColor"> {{ usuario[element.UsuarioId - 1].Nombre }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[8]" showFirstLastButtons></mat-paginator>
</div>
<a class="btn btn-dark my-2" href="verPolizas">Agregar nueva cuota</a>