:host {
    justify-items: center;
    width: 65%;
}

form {
    text-align: center;
}

.form-div {
    justify-content: center;
}

.title-div{
    display: flex;
    justify-content: center;
}

.mat-table {
    background-color: rgb(223, 223, 223);
}

.changeColor{
    color: black;
    border: solid 1px black;
    min-width: 20vw;
}

.red {
    color: red;
}