:host {
    justify-items: center;
    min-width: 55%;
}

form {
    text-align: center;
}

.form-div {
    justify-content: center;
}

.mat-table {
    background-color: rgb(223, 223, 223);
}

.changeColor{
    color: black;
    border: solid 1px black;
    min-width: 25vw;
}