<h1 class="col-md-4 title-div my-3">Grueros</h1>
<form [formGroup]="formularioGruero" (ngSubmit)="onSubmit()" [ngClass]="{ 'd-block': grueroSeleccionado.GrueroID == 0, 'd-none': grueroSeleccionado.GrueroID != 0 }">
  <div class="row mb-4 my-3 form-div">
    <div class="col-md-6">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>
    <div class="col-md-6">
      <label for="telefono" class="form-label">Teléfono:</label>
      <input type="text" class="form-control" id="telefono" formControlName="telefono">
    </div>
  </div>
  <button class="btn btn-success my-3" [disabled]="formularioGruero.invalid">Guardar</button>
</form>

<form [formGroup]="formularioGrueroModificar" [ngClass]="{ 'd-block': grueroSeleccionado.GrueroID != 0, 'd-none': grueroSeleccionado.GrueroID == 0 }">
  <div class="row mb-4 my-3 form-div">
    <div class="col-md-6">
      <label for="nombreModificar" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombreModificar" formControlName="nombre">
    </div>
    <div class="col-md-6">
      <label for="telefonoModificar" class="form-label">Teléfono:</label>
      <input type="text" class="form-control" id="telefonoModificar" formControlName="telefono">
    </div>
  </div>
  <button class="btn btn-info my-3" (click)="onBack()">Volver</button>
  <button class="btn btn-success my-3 mx-3" [disabled]="formularioGrueroModificar.invalid" (click)="onSubmitSave()">Guardar</button>
  <button class="btn btn-danger my-3" (click)="onDelete()">Eliminar</button>
</form>


<h2>Lista de grueros</h2>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table">
    
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor"> Nombre </th>
      <td mat-cell *matCellDef="let element" class="changeColor" (click)="onRowClick(element)"> {{ element.NombreGruero }} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor"> Teléfono </th>
      <td mat-cell *matCellDef="let element" class="changeColor" (click)="onRowClick(element)"> {{ element.TelefonoGruero }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns" [hidden]="!element.DeAlta"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons></mat-paginator>
</div>
