# Ignore Dockerfiles 
Dockerfile
.dockerignore

# Avoid node_modules directory
node_modules

# Ignore logs and temp files
*.log
*.tmp
*.temp

# Evitar build directory (pero NO dist/)
build

# git directory and files
.git
.gitignore

# Editor directories and files
.vscode
.idea

# OS-specific files
.DS_Store
Thumbs.db
