<h1 class="col-md-4 title-div my-3">Lista de vehículos</h1>

<div class="my-4 d-flex flex-column align-items-start">
  <label class="form-label text-center w-100">Patente:</label>
  <input type="text" class="form-control" (input)="onPatenteInput($event)" placeholder="Buscar por patente">
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table">

    <ng-container matColumnDef="Titular">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor">Titular</th>
      <td mat-cell *matCellDef="let element" class="changeColor" (click)="onRowClick(element)">{{ element.Nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="Patente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor">Patente</th>
      <td mat-cell *matCellDef="let element" class="changeColor" (click)="onRowClick(element)">{{ element.Patente }}</td>
    </ng-container>

    <ng-container matColumnDef="Color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor">Color</th>
      <td mat-cell *matCellDef="let element" class="changeColor" (click)="onRowClick(element)">{{ element.Color }}</td>
    </ng-container>

    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor">Marca</th>
      <td mat-cell *matCellDef="let element" class="changeColor" (click)="onRowClick(element)">{{ element.Marca }}</td>
    </ng-container>

    <ng-container matColumnDef="TipoPlan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor">Tipo Plan</th>
      <td mat-cell *matCellDef="let element" class="changeColor" (click)="onRowClick(element)">{{ element.TipoPlan }}</td>
    </ng-container>

    <ng-container matColumnDef="Modelo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="changeColor">Modelo</th>
      <td mat-cell *matCellDef="let element" class="changeColor" (click)="onRowClick(element)">{{ element.Modelo }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" [hidden]="!element.DeAlta"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>

<a class="btn btn-dark my-2" routerLink="/agregarVehiculo">Agregar nuevo vehículo</a>
