<h1 class="py-3">Agregar vehículo</h1>
<form [formGroup]="formularioVehiculo" (ngSubmit)="onSubmit()">
    <div class="row mb-4 my-3 form-div">
        <div class="col-md-4 ">
            <label for="Patente" class="form-label">Patente:</label>
            <input type="text" class="form-control" id="Patente" name="Patente" formControlName="Patente"
            name="Patente">
        </div>
        <div class="col-md-4">
            <label for="Color" class="form-label">Color:</label>
            <input type="text" class="form-control" id="Color" 
            name="Color" formControlName="Color">
        </div>
        <div class="col-md-4">
            <label for="Marca" class="form-label">Marca:</label>
            <input type="text" class="form-control" id="Marca" 
            name="Marca" formControlName="Marca">
        </div>
    </div>
    <div class="row mb-4 my-2 form-div">
        <div class="col-md-6">
            <label for="TipoPlan" class="form-label">Tipo de plan:</label>
            <input type="text" class="form-control" id="TipoPlan" 
            name="TipoPlan" formControlName="TipoPlan">
        </div>
        <div class="col-md-6">
            <label for="Modelo" class="form-label">Modelo:</label>
            <input type="text" class="form-control" id="Modelo" 
            name="Modelo" formControlName="Modelo">
        </div>
    </div>
    <button class="btn btn-success my-3">Guardar</button>
</form>

<a class="btn btn-dark" href="verVehiculos">Ver todos los vehiculos</a>