
<h1 class="col-md-4 title-div my-3">Pedido de grúa</h1> 
<form [formGroup]="formularioPGrua" (ngSubmit)="onSubmit()">
    <div class="row mb-4 my-3 form-div">
        <div class="col-md-3 my-2 position-relative">
            <label for="gruero" class="form-label">Gruero:</label>
            <input type="text" 
                   class="form-control" 
                   id="gruero" 
                   name="gruero" 
                   formControlName="gruero" 
                   (input)="onGrueroInput($event)">
          
            <div *ngIf="grueroSugerido.length > 0" class="list-group position-absolute w-100 mt-1 shadow">
              <button *ngFor="let gruero of grueroSugerido"
                      type="button"
                      class="list-group-item list-group-item-action  "
                      (click)="setValueGruero(gruero)">
                {{ gruero }}
              </button>
            </div>
        </div>

        <div class="col-md-5 my-2">
            <label for="nCliente" class="form-label">Nombre del cliente:</label>
            <input type="text" class="form-control" id="nCliente" name="nCliente" formControlName="nCliente"
            name="nCliente">
        </div>

        <div class="col-md-3 my-2 position-relative">
            <label for="patente" class="form-label">Patente:</label>
            <input type="text" 
                   class="form-control" 
                   id="patente" 
                   name="patente" 
                   formControlName="patente" 
                   (input)="onPatenteInput($event)">
            
            <div *ngIf="patentesSugeridas.length > 0" class="list-group position-absolute w-100 mt-1 shadow">
              <button *ngFor="let patente of patentesSugeridas"
                      type="button"
                      class="list-group-item list-group-item-action"
                      (click)="setValuePatente(patente)">
                {{ patente }}
              </button>
            </div>

          </div>

        <div class="col-md-4 my-2">
            <label for="fecha" class="form-label">Fecha de emisión:</label>
            <input type="date" class="form-control" id="fecha" formControlName="fecha">
        </div>
    </div>
    <button class="btn btn-success my-3" [disabled]="formularioPGrua.invalid">Guardar</button>
</form>

<a class="btn btn-dark" href="verPedidosDeGrua">Ver todos los pedidos</a>

<p class="my-4">
  {{ errores[0] }}
</p>