<nav class="navbar-container">
    <h1 class="title">Sistema grúa</h1>
  
    <div id="navbar-data">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn text-start w-100" (click)="goToUrl('grueros')">
            Grueros
          </button>
        </li>
        <li class="nav-item" [class.active]="activeMenu === 'pedidos'">
          <button class="btn text-start w-100" (click)="toggleCollapse('pedidos')">
            Pedidos de grúa
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'pedidos', 'fa-chevron-up': activeMenu === 'pedidos' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'pedidos' }">
            <a class="nav-link ms-3" href="agregarPedidoGrua">Agregar Pedido de Grúa</a>
            <a class="nav-link ms-3" href="verPedidosDeGrua">Ver Todos los Pedidos de Grúa</a>
          </div>
        </li>
  
        <li class="nav-item" [class.active]="activeMenu === 'vehiculos'">
          <button class="btn text-start w-100" (click)="toggleCollapse('vehiculos')">
            Vehículos
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'vehiculos', 'fa-chevron-up': activeMenu === 'vehiculos' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'vehiculos' }">
            <a class="nav-link ms-3" href="agregarVehiculo">Agregar Vehículo</a>
            <a class="nav-link ms-3" href="verVehiculos">Ver Todos los Vehículos</a>
          </div>
        </li>
  
        <li class="nav-item" [class.active]="activeMenu === 'polizas'">
          <button class="btn text-start w-100" (click)="toggleCollapse('polizas')">
            Pólizas
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'polizas', 'fa-chevron-up': activeMenu === 'polizas' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'polizas' }">
            <a class="nav-link ms-3" href="agregarPoliza">Agregar Póliza</a>
            <a class="nav-link ms-3" href="verPolizas">Ver Todas las Pólizas</a>
          </div>
        </li>
  
        <li class="nav-item" [class.active]="activeMenu === 'reportes'">
          <button class="btn text-start w-100" (click)="toggleCollapse('reportes')">
            Reportes
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'reportes', 'fa-chevron-up': activeMenu === 'reportes' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'reportes' }">
            <a class="nav-link ms-3" href="verReportesDeGruas">Reportes de Pedidos de grúa</a>
            <a class="nav-link ms-3" href="verReportesDeVehiculos">Reportes de Vehículos</a>
            <a class="nav-link ms-3" href="verReportesDePolizas">Reportes de Pólizas</a>
          </div>
        </li>


      </ul>
    </div>
    <button class="btn text-start w-100" (click)="goToUrl('gestionUsuarios')">
      Gestionar usuarios
    </button>
    <button class="btn btn-danger" id="close-session" (click)="cerrarSesion()">Cerrar sesión</button>
</nav>
  