<nav class="navbar-container">
    <h1 class="title">Sistema grúa</h1>
  
    <div id="navbar-data" class="panel-group">
      <ul class="navbar-nav">
        <li class="nav-item" [class.active]="activeMenu === 'gruero'">
          <button class="btn text-start w-100" (click)="toggleCollapse('gruero')">
            Grueros
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'gruero', 'fa-chevron-up': activeMenu === 'gruero' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'gruero' }">
            <a class="nav-link ms-3" href="home">Agregar Gruero</a>
            <a class="nav-link ms-3" href="home">Modificar Gruero</a>
            <a class="nav-link ms-3" href="home">Ver Todos los Grueros</a>
          </div>
        </li>
  
        <li class="nav-item" [class.active]="activeMenu === 'pedidos'">
          <button class="btn text-start w-100" (click)="toggleCollapse('pedidos')">
            Pedidos de grúa
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'pedidos', 'fa-chevron-up': activeMenu === 'pedidos' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'pedidos' }">
            <a class="nav-link ms-3" href="home">Agregar Pedido de Grúa</a>
            <a class="nav-link ms-3" href="home">Modificar Pedido de Grúa</a>
            <a class="nav-link ms-3" href="home">Ver Todos los Pedidos de Grúa</a>
          </div>
        </li>
  
        <li class="nav-item" [class.active]="activeMenu === 'vehiculos'">
          <button class="btn text-start w-100" (click)="toggleCollapse('vehiculos')">
            Vehículos
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'vehiculos', 'fa-chevron-up': activeMenu === 'vehiculos' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'vehiculos' }">
            <a class="nav-link ms-3" href="home">Agregar Vehículo</a>
            <a class="nav-link ms-3" href="home">Modificar Vehículo</a>
            <a class="nav-link ms-3" href="home">Ver Todos los Vehículos</a>
          </div>
        </li>
  
        <li class="nav-item" [class.active]="activeMenu === 'polizas'">
          <button class="btn text-start w-100" (click)="toggleCollapse('polizas')">
            Pólizas
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'polizas', 'fa-chevron-up': activeMenu === 'polizas' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'polizas' }">
            <a class="nav-link ms-3" href="home">Agregar Póliza</a>
            <a class="nav-link ms-3" href="home">Modificar Póliza</a>
            <a class="nav-link ms-3" href="home">Ver Todas las Pólizas</a>
          </div>
        </li>
  
        <li class="nav-item" [class.active]="activeMenu === 'cuotas'">
          <button class="btn text-start w-100" (click)="toggleCollapse('cuotas')">
            Cuotas
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'cuotas', 'fa-chevron-up': activeMenu === 'cuotas' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'cuotas' }">
            <a class="nav-link ms-3" href="home">Agregar cuota</a>
            <a class="nav-link ms-3" href="home">Modificar cuota</a>
            <a class="nav-link ms-3" href="home">Ver todas las cuotas</a>
          </div>
        </li>
  
        <li class="nav-item" [class.active]="activeMenu === 'reportes'">
          <button class="btn text-start w-100" (click)="toggleCollapse('reportes')">
            Reportes
            <i class="fas" [ngClass]="{ 'fa-chevron-down': activeMenu !== 'reportes', 'fa-chevron-up': activeMenu === 'reportes' }"></i>
          </button>
          <div class="collapse" [ngClass]="{ 'show': activeMenu === 'reportes' }">
            <a class="nav-link ms-3" href="home">Reportes de Pedidos de grúa</a>
            <a class="nav-link ms-3" href="home">Reportes de Vehículos</a>
            <a class="nav-link ms-3" href="home">Reportes de Pólizas</a>
          </div>
        </li>
      </ul>
    </div>

    <button class="btn btn-danger" id="close-session">Cerrar sesión</button>
</nav>
  