<div class="col-md-4 title-div my-3">
    <h1>Generar cuota</h1>
</div>

<form [formGroup]="formularioCuota" (ngSubmit)="onSubmit()">
    <div class="row mb-4 my-3 form-div">
        <div class="col-md-4 my-2">
            <label for="poliza" class="form-label">Num. de Poliza:</label>
            <input type="text" class="form-control" id="poliza" name="poliza" formControlName="poliza">
            <small class="error" *ngIf="formularioCuota.get('poliza')?.touched && formularioCuota.get('poliza')?.invalid">
                <br><span style="color:red" *ngIf="formularioCuota.get('poliza')?.hasError('required')">Este campo es obligatorio.</span><br>
                <br><span style="color:red"*ngIf="formularioCuota.get('poliza')?.hasError('minlength')">El número de póliza debe tener al menos 7 caracteres.</span><br>
                <br><span style="min-width: 100%; color:red" *ngIf="formularioCuota.get('poliza')?.hasError('pattern')">El campo debe contener solamente numeros.</span><br>
            </small>
        </div>
        
        <div class="col-md-4 my-2">
            <label for="nCuota" class="form-label">Num de la cuota:</label>
            <input type="number" class="form-control" id="nCuota" name="nCuota" formControlName="nCuota" min="0" max="5">
            <small class="error" *ngIf="formularioCuota.get('nCuota')?.touched && formularioCuota.get('nCuota')?.invalid">
                <br><span style="min-width: 100%; color:red" *ngIf="formularioCuota.get('nCuota')?.hasError('required')">Este campo es obligatorio.</span>
                <br><span style="min-width: 100%; color:red" *ngIf="formularioCuota.get('nCuota')?.hasError('maxlength')">El número de cuota no puede tener más de 1 dígito.</span>
            </small>
        </div>
        
        <div class="col-md-4 my-2">
            <label for="Cantidad" class="form-label">Cantidad de pagos:</label>
            <input type="number" class="form-control" id="Cantidad" name="Cantidad" formControlName="Cantidad" min="1" max="6">
            <small class="error" *ngIf="formularioCuota.get('Cantidad')?.touched && formularioCuota.get('Cantidad')?.invalid">
                <br><span style="min-width: 100%; color:red" *ngIf="formularioCuota.get('Cantidad')?.hasError('required')">Este campo es obligatorio.</span>
                <br><span style="min-width: 100%; color:red" *ngIf="formularioCuota.get('Cantidad')?.hasError('maxlength')">La cantidad de pagos no puede ser mayor a 6.</span>
            </small>
        </div>  
    </div>
    <div class="row mb-4 my-3 form-div">
        <div class="col-md-4 my-2">
            <label for="FechaV" class="form-label">Fecha de vencimiento:</label>
            <input type="text" class="form-control" id="FechaV" name="FechaV" formControlName="FechaV">
            <small class="error" *ngIf="formularioCuota.get('FechaV')?.touched && formularioCuota.get('FechaV')?.invalid">
                <br><span style="min-width: 100%; color:red" *ngIf="formularioCuota.get('FechaV')?.hasError('required')">Este campo es obligatorio.</span>
            </small>
        </div>
        
        <div class="col-md-4 my-2">
            <label for="Monto" class="form-label">Monto:</label>
            <input type="number" class="form-control" id="Monto" name="Monto" formControlName="Monto" min="0">
            <small class="error" *ngIf="formularioCuota.get('Monto')?.touched && formularioCuota.get('Monto')?.invalid">
                <br><span style="min-width: 100%; color:red" *ngIf="formularioCuota.get('Monto')?.hasError('required')">Este campo es obligatorio.</span>
            </small>
        </div>
    </div>
    <button class="btn btn-success my-3" [disabled]="formularioCuota.invalid">Guardar</button>
</form>

<a class="btn btn-dark" href="verPolizas">Ver todos las polizas</a> 