<div class="col-md-4 title-div my-3">
    <h1>Generar cuota</h1>
</div>

<form [formGroup]="formularioCuota" (ngSubmit)="onSubmit()">
    <div class="row mb-4 my-3 form-div">
        <div class="col-md-3 my-2">
            <label for="poliza" class="form-label">Num. de Poliza:</label>
            <input type="text" class="form-control" id="poliza" name="poliza" formControlName="poliza"
            name="poliza">
        </div>
        <div class="col-md-4 my-2">
            <label for="nCuota" class="form-label">Num de la cuota:</label>
            <input type="number" class="form-control" id="nCuota" name="nCuota" formControlName="nCuota"
            name="nCuota">
        </div>
        <div class="col-md-3 my-2">
            <label for="Cantidad" class="form-label">Cantidad de pagos:</label>
            <input type="number" class="form-control" id="Cantidad" name="Cantidad" formControlName="Cantidad"
            name="Cantidad">
        </div>
    </div>
    <div class="row mb-4 my-3 form-div">
        <div class="col-md-4 my-2">
            <label for="FechaV" class="form-label">Fecha de vencimiento:</label>
            <input type="text" class="form-control" id="FechaV" 
            name="FechaV" formControlName="FechaV">
        </div>
        <div class="col-md-4 my-2">
            <label for="Monto" class="form-label">Monto:</label>
            <input type="number" class="form-control" id="Monto" 
            name="Monto" formControlName="Monto">
        </div>
    </div>
    <button class="btn btn-success my-3">Guardar</button>
</form>

<a class="btn btn-dark" href="verPolizas">Ver todos las polizas</a> 